# QuickStart: Table API

import related packages

In [1]:
from pyflink.table import EnvironmentSettings, TableEnvironment
from pyflink.table.expressions import col

Create TableEnvironment

In [2]:
env_settings = EnvironmentSettings.in_streaming_mode()
table_env = TableEnvironment.create(env_settings)

Create Source Table

In [3]:
table_env.execute_sql("""
    CREATE TABLE datagen (
        id INT,
        data STRING
    ) WITH (
        'connector' = 'datagen',
        'fields.id.kind' = 'sequence',
        'fields.id.start' = '1',
        'fields.id.end' = '10'
    )
""")

Create Sink Table

In [4]:
table_env.execute_sql("""
    CREATE TABLE print (
        id INT,
        data STRING
    ) WITH (
        'connector' = 'print'
    )
""")

query from source table and perform calculations
create a Table from a Table API query:

In [5]:
source_table = table_env.from_path("datagen")

or create a Table from a SQL query:

In [6]:
source_table = table_env.sql_query("SELECT * FROM datagen")

Compute `+1` operation in column of `id`

In [7]:
result_table = source_table.select(col("id") + 1, col("data"))

emit query result to sink table
emit a Table API result Table to a sink table:

In [8]:
result_table.execute_insert("print").wait()

8> +I[9, d00b0e7a3eac4541d13b32cec9b555e41506edc9cb533a098e6e584faa9e683d75c830fb038c5d4823053be64118d75965f7]
10> +I[11, f62e5e65b83dccf7255b3cf30be3c95b7a24665a595744581d1a2d2c96a93f4e3766dfe4e7ac81fb898683d351fd273624a7]
1> +I[2, d40c0e8a5c9dd67771eb3220bd8bf66e9e6d575539804d42ad1efd88e7a7bf38fed5a660bfc5277ee4fbe80663230da04822]
2> +I[3, 480c8a91c0f2e491bdd46b5cc1ca210667057345d4ccdca3985064502f1bcca0de529d2af3fff37dc9f0384c3057adca3097]
9> +I[10, 82082e9e37965ee2e8b840bf1b0eadc1abb09e748be35ba2eb7ebac7283487d223cb8575f275f01c61e5c891de7cbc75065c]
3> +I[4, 259b6c32704d1c2665b592e8cd8220f40a8ec758d336902f4e5fb21ddbbe0d5972aa12b79a44189bd321e8d3fd5def52280d]
4> +I[5, eb9a68775cf20d5ee4688e0ced3f855afed93d68a7637217392118c627defcd0484235d451dd56335bb2bf2081ad3146cee0]
5> +I[6, 1fb91a121fa131ebdc8743d5444b2480bf3e56a4b4bb34fa9842165fb016a64740bcc1e7924a9015bb7daf935fca12a4cd2d]
7> +I[8, d20c8c11d616c073a9f8c1a9789110ee956744581846c3e546ca15df1dfd963469a713520c50ce302f1927b3c1e21df82a73]
6> +I[7, 4f8ca8cdd3b769709fe6e34141909b1cd11744973248f4f5af092dec35188dfb91e47fb1617152577c426592306753906491]

or emit results via SQL query:

In [9]:
table_env.execute_sql("INSERT INTO print SELECT * FROM datagen").wait()

1> +I[1, 339d8c8c0bf32ff0fec2c8276b984522fcd07077b152ba101b18b89407f551ff62162707db304521abb6246fd1b90c87c240]
2> +I[2, 4f8fc8e3e3a939c2ca06dde562c17ff036c546a3ba95f8b3850dd2c97712819ca4f3e99fa64d39be8ed95ed3f8c73184f601]
3> +I[3, 00393e7e2d916721baf3a15450506c78950024b684ae6c1d30301ace5ec59dc9146384ef6b2367f34e197cd475cc5b25236f]
4> +I[4, 661a8c8e5067b8331fe1623492a7812539a5ef1af8edfd9a018ba0f14fa569f37505e5d6531695aa6da3a915c214936635f2]
6> +I[6, 960a8c0a12ba0050bf717ad5f1d62bac65630973bfced5ee8304860f445869b314843d92bf07dade556e2e7089d063bc2d66]
5> +I[5, 7f994a758cae4a05394ed1c34f2efd96d90cfc6d1e9c14507cd507c3d3a240f018ac4e81ee234882b85fe2296c234bd2fe2b]
7> +I[7, 4e0d48d5ca11b299c454299566746723c55d2c071eae6dee73524554454998f11f07792fe4eaf5bc724e7420b9c0d0b2fa85]
8> +I[8, 418fec9c23f9f270e713fa388df3b8895388019e2614838daaa3d705e24e951de359b21b03e0d4e7c294a31d9289b77d9141]
9> +I[9, 39998804e22de5085385535f4fdb5d79c70a905b32fe1d886f0dc3bdb775bda43df1e0dee461cbc027cf60e58fb4f0a8577e]
10> +I[10, 3bac9a31f453922d6e45645e072e8b334dacbe85a14d1c4b846c9c8c63dd096c481cd27384af14aaa8d345a17cf236a6fefc]